body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.todo-form, .search-form, .edit-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.success-message {
    color: #4CAF50;
}

.error-message {
    color: #FF3333;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-form {
    margin-left: 10px;
}

.edit-form label {
    display: inline-block;
    margin-right: 10px;
}

.edit-form input[type="text"] {
    width: 60%;
}

.edit-form input[type="submit"] {
    background-color: #007BFF;
}

.edit-form input[type="submit"]:hover {
    background-color: #0056b3;
}